#scheming-schema-form {
    .card {
        --bs-card-bg: transparent;
    }

    .scheming-schema-editor-toolbar {
        position: sticky;
        top: 0;
        z-index: 10;
        background: #f2f4f7;
    }

    // remove card style for root level
    #collapse-root>.card-body {
        padding: 0;
    }

    div[data-level="0"]>.card {
        background: none;
        border: unset;

        &>.card-header {
            background: unset;
            border-bottom: unset;
            padding: 0;
        }
    }

    .jedi-label,
    .jedi-legend {
        &:after {
            display: none;
        }

        span {
            margin: 0;
        }
    }

    .jedi-array-item {
        position: relative;

        &>.jedi-actions-slot {
            margin-bottom: 1rem;
            position: absolute;
            top: 9px;
            right: 120px;
            z-index: 100;
            border-right: 1px solid var(--bs-border-color);
            padding-right: 0.5rem;
        }
    }

    .modal-dialog {
        .modal-header {
            display: flex;
            justify-content: space-between;
            align-content: center;

            .modal-title p {
                margin: 0;
                font-weight: 600;
            }
        }
    }

    .jedi-modal-dialog {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
        color: #212529;
        border: 1px solid var(--bs-border-color) !important;

        .jedi-modal-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            padding: 1rem;
            border-bottom: 1px solid #dee2e6;
            font-size: 1.25rem;
            font-weight: 500;
        }

        .jedi-modal-content {
            display: flex;
            flex-direction: column;
            gap: .25rem;
            padding: 1rem;
        }

        .jedi-modal-close {
            margin-left: auto;
        }

    }

    .jedi-switcher-modal-trigger {
        cursor: pointer;
    }

    .form-check {
        .form-check-label:after {
            display: none;
        }

        .form-check-input {
            height: 1em !important;
            width: 1em !important;
        }
    }

    .jedi-btn:disabled {
        border: unset;
    }
}
